<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFI3-SKI5getb7im9H_ReE8DDyPX3As6w</string>
	<key>GCM_SENDER_ID</key>
	<string>557864487362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yang.SnacktacularUI</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-4211b</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-4211b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557864487362:ios:ee9cc554ca938a7bb76e5b</string>
</dict>
</plist>